<launch>
    <arg name="map" default="$(find akm_slam)/map/simple.yaml"/>
    <arg name="rviz" default="true"/>

    <param name="use_sim_time" value="true"/>
    <node pkg="akm_slam" type="akm_relocation" name="akm_relocation" output="screen"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map)"/>
    <include file="$(find akm_slam)/launch/amcl_diff.launch"/>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find akm_slam)/rviz/slam.rviz" />
    </group>
</launch>
